@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');

:root {
  font-size: 15px;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #E4E6EB;;
  color: #071c4d;
}





